{%extends 'group/layout.html'%}
{%load static%}
{%block import%}
    <script src="{%static 'group/setting.js'%}"></script>
{%endblock%}
{%block body%}  
    <h2>Create Group</h2>
    <form id="createGroup" action="{%url 'create'%}" method="post" >
        {% csrf_token %}
        <div class="form-group">
            <div class="warning">{{message}}</div>
            <strong>Name</strong>
            <input id='name' class="form-control" placeholder="Group Name" name="name">
        </div>
        <div class="form-group">
            <strong>Description</strong> 
            <textarea id="description" class="form-control" rows="5" placeholder="Description" name="description"></textarea>
        </div>
        <div class="form-group">
            <strong>Password to Join Group</strong>
            <input id='passwordCheckBox' class="form-check-input" type="checkbox" name="passwordCheckBox">
            <input id="password" disabled class="form-control" type="password" placeholder="Password" name="password">
        </div>
        <div class="form-group">
            <strong>Private to view</strong>
            <input id="privateCheckBox" class="form-check-input" type="checkbox" name="privateCheckBox">
        </div>
        <div class="form-group">
            <strong>Manually Accept Join Request</strong>
            <input id="manualCheckBox" class="form-check-input" type="checkbox" name="manualCheckBox">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{%endblock%}