{%load manyToManyHelp%}
<div class="col-4 mt-4 " id="group_{{group.id}}" data-private="true">
  <div class="card"">
    <div class="card-body">
      <h5 class="card-title">{{group.name}}</h5>
      <p class="card-text description">{{group.description}}</p>
      {%if user.is_authenticated%} 
        {%if group|membershipStatus:user.id in 'super member'%}
          <div class="passwordContainer invisible">{%if group.passwordEnabled == 'on'%}<input type="password" class="form-control passwordInput" placeholder="Group Password">{%endif%}<span></span></div>
          <button data-id="{{group.id}}" data-private="{{group.private}}" class="joinButton btn btn-primary">leave</button>
        {%elif group|membershipStatus:user.id in 'pending'%}
          <div class="passwordContainer invisible">{%if group.passwordEnabled == 'on'%}<input type="password" class="form-control passwordInput" placeholder="Group Password">{%endif%}<span></span></div>
          <button data-id="{{group.id}}" data-private="{{group.private}}" class="joinButton btn btn-primary">pending</button>
        {%else%}
          <div class="passwordContainer">{%if group.passwordEnabled == 'on'%}<input type="password" class="form-control passwordInput" placeholder="Group Password">{%endif%}<span></span></div>
          <button data-id="{{group.id}}" data-private="{{group.private}}" class="joinButton btn btn-primary">join</button>
        {%endif%}
      {%else%}
        <div class="passwordContainer"></div>
      {%endif%}
      {%if group.private == 'off' or group|membershipStatus:user.id in 'super member'%}
        <a href="{%url 'group' group.id%}" class="viewButton btn btn-primary">View Chat</a>
      {%else%}
        <a href="{%url 'group' group.id%}" class="viewButton warning">private group</a>
      {%endif%}
    </div>
  </div>
</div>

