{%extends 'group/layout.html'%}
{%load static%}
{%block import%}
  <script src="{%static 'group/csrf_url.js'%}"></script>
{%endblock%}
{%block body%} 
    <script>
      document.addEventListener('DOMContentLoaded',()=>{
        {%if user.id == profile.id%}
          let joinSocket=new WebSocket(
                'wss://'
                + window.location.host
                + '/join'
          );

          joinSocket.onmessage=(event)=>{
            let data=JSON.parse(event.data);
            let group=document.querySelector(`#group_${data.groupID}`);
            let passwordContainer=group.querySelector('.passwordContainer');
            let passwordMessage=passwordContainer.querySelector('span');
            let joinButton=group.querySelector('.joinButton');
            let viewButton=group.querySelector('.viewButton');
            let private=group.dataset.private;
            if(data.status === 'removed' || data.status === 'reject'){
              joinButton.innerHTML='join';
              passwordContainer.classList.remove('invisible');
              passwordMessage.className=passwordMessage.innerHTML='';
              if(private){
                viewButton.classList.remove('btn','btn-primary');
                viewButton.classList.add('warning');
                viewButton.innerHTML='private group';
              }
              {%if request.path == '/personal'%}document.querySelector('#nonMember').append(group){%endif%}
            }
            else if(data.status === 'joined' || data.status === 'accept'){
              joinButton.innerHTML='leave';
              viewButton.classList.remove('warning');
              viewButton.classList.add('btn','btn-primary');
              viewButton.innerHTML='View Chat';
              passwordContainer.classList.add('invisible');
              passwordMessage.className=passwordMessage.innerHTML='';
              {%if request.path == '/personal'%}document.querySelector('#member').append(group){%endif%}
            }
            else if(data.status === 'pending'){
              joinButton.innerHTML='pending';
              {%if request.path == '/personal'%}document.querySelector('#pending').append(group){%endif%}
            }
            else if(data.status ==='passwordTrue'){
              passwordMessage.innerHTML='Correct Password';
              passwordMessage.className='sucess';
            }
            else if(data.status==='passwordFalse'){
              passwordMessage.innerHTML='Wrong Password';
              passwordMessage.className='warning';
            }
          }
          let joinButtons=document.querySelectorAll('.joinButton')
          joinButtons.forEach(join=>{
            if(join){
              join.onclick=()=>{
                let passwordInput=join.closest('.card-body').querySelector('.passwordInput');
                if(passwordInput){
                  password=passwordInput.value;
                  passwordInput.value='';
                }
                else
                  password='';
                joinSocket.send(JSON.stringify({
                  'groupID':join.dataset.id,
                  'password':password
                }))
              }
            }
          })
        {%endif%}
      })
    </script>
    {%if request.path == '/personal'%}
      <div id="profile">
        <div class="memberLeft"><img class="profilePicture" src="{%static 'group/profilePicture/'%}{{profile.id}}.PNG"></div>
        <div class="memberRight">{{profile.username}}</div>
      </div>
      <div id="profileInfo">
        <div>
          Email: {{profile.email}}
        </div>
        <div>
          Last Login: {{profile.last_login}}
        </div>
        <div>
          Joined Date: {{profile.date_joined|date:'M d, Y'}}
        </div>
        {%if user.id == profile.id%}
          <a href="{%url 'editProfile'%}"><button class="btn btn-primary">Edit</button></a>
        {%endif%}
      </div>
      <h2>Super User of:</h2>
      <div class="row" id="super">
        {%for group in super%}
          {%include 'group/groupDisplay.html'%}    
        {%endfor%}
      </div>
      <hr>
      <h2>Member of:</h2>
      <div class="row" id="member">
        {%for group in member%}
          {%include 'group/groupDisplay.html'%}    
        {%endfor%}
      </div>
      <hr>
      <h2>Pending:</h2>
      <div class="row" id="pending">
        {%for group in pending%}
          {%include 'group/groupDisplay.html'%}    
        {%endfor%}
      </div>
      <hr>
      <div class="row" id="nonMember">
        {%for group in nonMember%}
          {%include 'group/groupDisplay.html'%}    
        {%endfor%}
      </div>
      <hr>
    {%else%}
      <div class="row" id="all">
        {%for group in all%}
          {%include 'group/groupDisplay.html'%}    
        {%endfor%}
      </div>
      <hr>
    {%endif%}
{%endblock%}